.browse-page-container {
  margin-top: 10vh !important;
}

.channel-discription {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.channel-content {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

.relevant-numbers {
  margin-bottom: 1rem !important;
  margin-top: 1em !important;
}

.channel-title {
  font-size: 2rem !important;
  margin-bottom: 2rem !important;
}

.channel-discription-para {
  font-size: 1.2rem !important;
  argin-bottom: 2rem !important;
}
